@import 'https://fonts.googleapis.com/css?family=Oswald';

html, body {
  left: 0;
  margin: 0;
  background-image: url("oldroland.jpeg");
  background-size:100%;
  background-repeat: no-repeat;

}

#container{
  margin: 0 auto;
  height: auto;
  width: auto;
  padding-top:1px;
  color: black;
  letter-spacing: 6px;
  align-items: center;
}
 
.box {
 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgba(39, 37, 37, 0.74);
  user-select: none;
  
}
.pad-1{
  position: absolute;
	width: 50px;
	height: 50px;
	left: 250px;
	bottom: 100px;

} .pad-2{
  position: absolute;
	width: 50px;
	height: 50px;
	left: 315px;
	bottom: 100px;
}
.pad-3 {  
  position: absolute;
	width: 50px;
	height: 50px;
	left: 380px;
	bottom: 100px;
}
.pad-4 {
  position: absolute;
	width: 50px;
	height: 50px;
	left: 440px;
	bottom: 100px;
} 
.pad-5 {
  position: absolute;
	width: 50px;
	height: 50px;
	left: 505px;
	bottom: 100px;
} 
.pad-6 { 
  position: absolute;
	width: 50px;
	height: 50px;
	left: 570px;
	bottom: 100px;
}
.pad-7{
  position: absolute;
	width: 50px;
	height: 50px;
	left: 635px;
	bottom: 100px;
}
.pad-8{
  position: absolute;
	width: 50px;
	height: 50px;
	left: 700px;
	bottom: 100px;
}  
.pad-9 { 
  position: absolute;
	width: 50px;
	height: 50px;
	left: 765px;
	bottom: 100px;
}